*{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

.tutorial{
    position: absolute;
    height: 100vh; 
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    background-image: url(./Images/ruinsbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.smallgif{
    height: auto;
    width: 300px;
}

.not-wide{
    max-width: 300px;
    height: 80px;
    text-align: center;
}

#nameinput{
    width: 300px;
    height: 40px;
}

.tut-top{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tut-bot{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whole{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000000;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* transform: scale(0.98); */
    margin: 0;
    padding: 0;
    background-image: url(./Images/ruinsbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-game-container{
    width: 850px;
    height: 850px;
    transform: scale(.8);
}

.control1, .control2{
    width: 200px;
    text-align: center;
}

.right img {
    width: 100px;
    height: 70px;
    background-color: white;
}
.controls {
    display: flex;
    width: 100%;
    justify-items: space-around;
}

.bomber-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bomb-pwr {
    color: red;
    height: 50px;
}
.bombr-spd {
    color: yellow;
    height: 50px;
}

.bomb-num {
    color: cyan;
    height: 50px;
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;
    flex-grow: 2;
    /* color: white;
    border: 1px solid white; */

}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    /* color: white;
    border: 1px solid white; */
}
.left img {
    width: 100px;
    height: 70px;
    background-color: white;
}

ul.chat-list li  {
    color: #6a6a6a;
    display: block;
    padding: 15px;
    font-weight: 300;
    text-decoration: none;
}

ul.chat-list li h4 {
    padding: 17px 15px;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #D5D7DE;
}

ul.chat-list li h4 i {
    padding-right: 5px;
}

ul.chat-list li span {
    padding-left: 10px;
}

ul.chat-list li i.fa-times {
    color: #9fa3b0;
}

ul.chat-list li.active {
    color: #00a9b4;
    background: #f2f4f7;
}

ul.chat-list {
    border-bottom: 1px solid #d5d7de;
    padding-left: 0;
    list-style: none;
}

ul.chat-user  {
    margin-bottom: 200px;
}

ul.chat-user li {
    border-bottom: none;
}

ul.chat-user li a:hover{
    background: none;
    color: #6a6a6a;
}

.player1{
    color: yellow;
}
.player2{
    color: blue;
}
.player3{
    color: red;
}
.player4{
    color: green;
}

.start-btn{
    width: 80px;
    height: 40px;
    font-weight: bold;
    font-size: 1.2em;
}

.start-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header{
    text-align: center;
}

.control1 p, .control2 p{
    width: 50px;
}

/* canvas {
    border-left: 3px solid black;
    border-right: 3px solid black;
} */

/* .phone-controls {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.movement {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.row {
    display: flex;
    width: 100%;
}
.column {
    width: 33%;
}

.drop-bomb {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */